asgiref==3.8.1
black==25.1.0
click==8.2.1
colorama==0.4.6
cssbeautifier==1.15.4
dj-database-url==3.0.1
Django==4.2.20
djlint==1.36.4
EditorConfig==0.17.1
flake8==7.3.0
gunicorn==20.1.0
isort==6.0.1
jsbeautifier==1.15.4
json5==0.12.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
psycopg2-binary==2.9.10
pycodestyle==2.14.0
pyflakes==3.4.0
python-dotenv==1.1.1
PyYAML==6.0.2
regex==2025.9.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
whitenoise==6.9.0
